body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background: url('../images/game-cover.jpg') no-repeat center 56%;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 3rem 0;
    position: relative;
}

header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

header h1 {
    position: relative;
    z-index: 2;
}

.navbar {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    background: #444;
    margin: 0;
    position: relative;
    z-index: 3;
}

main{
    padding: 20px;
    margin: 20px;
    flex-grow: 1;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    display: inline-block;
}

.navbar a:hover {
    background: #555;
    border-radius: 5px;
}

.intro {
    text-align: center;
    padding: 2rem;
    background: #fff;
    margin: 1rem auto;
    max-width: 800px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.intro h2 {
    margin-top: 0;
}

.intro-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-top: 1rem;
    border-radius: 10px;
}

.game-info {
    text-align: center;
    padding: 2rem;
    background: #fff;
    margin: 2rem auto;
    max-width: 800px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.game-info h2 {
    margin-top: 0;
}

.game-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-top: 1rem;
    border-radius: 10px;
}

footer {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 1rem 0;
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .intro, .game-info {
        padding: 1.5rem;
        margin: 1rem;
    }

    .intro h2, .game-info h2 {
        font-size: 1.5rem;
    }

    .intro-image, .game-image {
        max-width: 100%;
        margin-top: 1rem;
    }

    footer {
        padding: 1rem;
    }
    
    header {
        padding: 0;
    }
    
}

@media (max-width: 480px) {

    main{
        padding: 5px;
        margin: 5px;
    }
    header h1 {
        font-size: 1.5rem;
    }

    .intro h2, .game-info h2 {
        font-size: 1.3rem;
    }

    .intro, .game-info{
        margin: 0px;
    }

    .navbar a {
        padding: 0.5rem;
        font-size: 1rem;
    }

    
}